img
{
    height: 55%;
    border-radius: 10px;
}
.setpassword_id{
    text-align: left;
} 
.fp-container
{
    align-self: center;
    /* background-color: red; */
    margin: auto;
    width: 100%;
    /* display: flex; */
}
 
.fp-logo-box
{
    background-color: #00338E;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 657px;
    float: left;
}
 
.fp-form-box
{
    float: right;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 657px;
}
 
.fp-form
{
    margin-top: -40px;
    width: 400px;
    height: 400px;
    justify-content: center;
	align-items: center;
}
 
h3
{
    font-size: 35px;
    margin-left: 0px;
  padding-bottom: 20px;
    text-align: left;
}
h4 {
    font-size: 20px;
    text-align: left;
    margin: 0px;
}
/* .ForgotPassword
{
margin-left: 50px;
} */
 
.fp-inputfields
{
    height: 40px;
    width: 75%;
    margin-left: 50px;
    margin-bottom: 15px;
    border: grey solid 1px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
}
.fp-inputfields input {
    border: none;
}
 
.fp-input
{
    height: 28px;
    width: 85%;
    border: none;
    outline: none;
    font-style: italic;
    font-weight: 550;
    font-size: 16px;
    text-decoration: none;
    margin-left: 5px;
    margin-top: 5px;
    padding-top: 2px;
}
 
.fp-input:placeholder-shown {
    font-style: italic;
    width:75%
}
 
.Ricons
{
    color: #00338E;
    font-size: 25px;
    margin-left: 6px;
    margin-top: 1px;
    padding-right: 5px;
    padding-top: 5px;
}
 
#forgotpass
{
    color: #00338E;
    font-size: 14px;
    margin: 10px;
    font-weight: 600;
}
#otpfield, #otpverifybutton {
    display: none;
}
.fp-links
{
    color: #00338E;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
}
 
.fp-btn-OTP
{
    float: right;
    height: 35px;
    width: 30%;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid #00338E;
    border-radius: 10px;
    text-decoration: none;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: #00338E;
    cursor: pointer;
}
.getotp {
    float: right;
    margin-right: 16px;
    text-decoration: underline;
    color: #5518AB;
}
.fp-btn-OTP:hover
{
    background-color: #00338E;
    color: white;
}
 
.fp-btn
{
    height: 50px;
    width: 95%;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    background-color: #00338E;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
#setpassword_block
{
    display: none;
}