img
{
    height: 55%;
    border-radius: 10px;
}
.regID-btn {
    height: 50px;
    width: 30%;
    margin-left: 38%;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    background-color: #00338E;
    /* text-align: center; */
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.regID-container
{
    align-self: center;
    /* background-color: red; */
    margin: auto;
    width: 100%;
    display: flex;
}

.regID-logo-box
{
    background-color: #00338E;
    display: flex;
	justify-content: center;
	align-items: center;
	width: 870px;
	height: 100vh;
}

.regID-form-box
{
    float: right;
    background-color: white;
    display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 657px;
}

.regID-form
{
    width: 400px;
    height: 450px;
    justify-content: center;
	align-items: center;
}

.regID-msg {
    margin-top: 100px;
    background-color: white;
    color: black;
    font-size: 18px;
    width: 100%;
    height: auto;
    border-radius: 6px;
    padding: 50px 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.regID-msg p {
    text-align: center;
    width: 100%;
}

