img
{
    height: 55%;
    border-radius: 10px;
}
.Registrationdetails{
    padding-bottom: 30px;
    padding-top: 10px;
}
div#registration_block {
    padding-top: 20px;
}
 
/* .reg-container
{
    align-self: center;
    background-color: red;
    margin: auto;
    width: 100%;
    display: flex;
} */
 
.reg-logo-box
{
    background-color: #00338E;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 657px;
    float: left;
}
 
.reg-form-box
{
    float: right;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 657px;
    
}
 
.reg-form
{
    width: 400px;
    height: 450px;
    justify-content: center;
	align-items: center;
    margin-bottom: 20%;
}
 
h3
{
    font-size: 35px;
    margin-left: 10px;
    margin-bottom: 15px;
}
 
.reg-inputfields
{
    height: 40px;
    width: 94%;
    margin-left: 10px;
    margin-bottom: 15px;
    border: grey solid 1px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    background-color: white;
}
 
.reg-chkbox
{
    height: 15px;
    margin-bottom: 20px;
    text-decoration: none;
}
.reg-inputfields input {
    border: none;
}
.reg-checkboxdiv
{
    margin-left: 12px;
}
 
.reg-input
{
    height: 28px;
    width: 85%;
    border: none;
    outline: none;
    font-style: italic;
    font-weight: 550;
    font-size: 16px;
    text-decoration: none;
    margin-left: 5px;
    margin-top: 5px;
    padding-top: 2px;
}
 
.reg-input:placeholder-shown {
    font-style: italic;
}
 
.Ricons
{
    color: #00338E;
    font-size: 25px;
    margin-left: 6px;
    margin-top: 1px;
    padding-right: 5px;
    padding-top: 5px;
}
.reg-checkboxdiv label {
    margin-left: 13px;
}
#forgotpass
{
    color: #00338E;
    font-size: 14px;
    margin: 10px;
    font-weight: 600;
}
 
lable {
    color: #00338E;
    font-size: 14px;
    /* margin-top: 10px; */
    text-align: center;
    font-weight: 600;
    margin-left: 5px;
}
 
.reg-links {
    color: #00338E;
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
    font-weight: 600;
    margin-left: 16px;
}
 
.reg-btn
{
    height: 50px;
    width: 75%;
    margin-left: 50px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    background-color: #00338E;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
#submit_validateOtpContinueReg
{
    display: none;
}
#submit_ContinueApplication
{
    display: none;
}