/* main{
    width: 100%;
    padding: 20px;
} */
/* .top_section {
    display: flex;
    align-items: flex-start;
     padding-bottom: 15px; 
    flex-direction: row;
    justify-content: center;
} */
.container {
    display: flex;
    /* height: 100vh; */
    position: absolute;
}
/* .sidebar {
    background: white;
    color: black;
    height: 100%;
    width: 250px;
    transition: all 0.5s;
    margin-top: -45px;
    position: absolute;
    box-shadow:10px 0 5px -2px #ccc;
    flex-grow:1;
    flex-shrink:0;
} */
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}

.logo{
    font-size: 22px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #000000;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    align-items: center;

}
.link:hover{
    background:#00338E;
    color: white;
    transition: all 0.5s;
}
.active{
    background:#00338E;
    color: white;
}
.subMenu{
    padding-left: 20px;
}
.subLink{
    display:flex;
    align-items:center;
    padding:5px 10px;
    cursor:pointer
}
.subLink_text{
    margin-left: 20px;
}
.icon, .link_text{
    font-size: 20px;
    /* color:black; */
    text-align: center;
}
.icon{
    font-size: 22px;
    margin-left: 3px;
    /* color:black; */
    text-align: center;
}
.icon :hover{
    font-size: 22px;
    margin-left: 3px;
    /* color:rgb(255, 255, 255); */
    text-align: center;
}


.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
   }
   .tooltip-container .tooltip-text {
    visibility: hidden;
    width: 150px;
    background-color:white;
    color: black;
    text-align: center;
    /* border-radius: 6px; */
    padding: 5px 0px;
    position: absolute;
    margin-left: 45px;
    margin-top:-30px;
    
    /* z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: 20%;
    
    transition: opacity 0.3s; */
    
   }
   .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
   }