.progress-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    background-color: #2b3a4b;
    color: white;
    width: 200px;
    height: 100%;
}

.step {
    margin: 20px 0;
    padding: 10px;
    border-left: 4px solid white;
    transition: 0.3s;
}

.step.active {
    border-left: 4px solid #007b00;
}
